<!DOCTYPE html>
<html lang="zh">
<head>
  <title>manage page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="icon" href="../img/logo.png" />
  <link rel="stylesheet/less" href="../styles/manage.less" />
  <script src="../js/less.min.js" type="text/javascript"></script>
</head>
<body>
<section class="wrapper">
  <div class="content">
    <ul>
      <li>
        <input type="hidden" class="imgId" value="img1"/>
        <input type="hidden" class="imgIndex" value="1"/>
        <input type="hidden" class="imgTag" value="风景" />
        <div class="imgAddr">
          <img src="http://placehold.it/200x200" alt="..." title="img"/>
        </div>
        <div class="footer">
          <span class="imgName">图片1</span>
          <button class="dropdown">...</button>
          <ul>
            <li><button>功能1</button></li>
            <li><button>功能2</button></li>
            <li><button>功能3</button></li>
          </ul>
        </div>
      </li>
      <li>
        <input type="hidden" class="imgId" value="img1"/>
        <input type="hidden" class="imgIndex" value="1"/>
        <input type="hidden" class="imgTag" value="风景" />
        <div class="imgAddr">
          <img src="http://placehold.it/200x200" alt="..." title="img"/>
        </div>
        <div class="footer">
          <span class="imgName">图片1</span>
          <button class="dropdown">...</button>
          <ul>
            <li><button>功能1</button></li>
            <li><button>功能2</button></li>
            <li><button>功能3</button></li>
          </ul>
        </div>
      </li>
      <li>
        <input type="hidden" class="imgId" value="img1"/>
        <input type="hidden" class="imgIndex" value="1"/>
        <input type="hidden" class="imgTag" value="风景" />
        <div class="imgAddr">
          <img src="http://placehold.it/200x200" alt="..." title="img"/>
        </div>
        <div class="footer">
          <span class="imgName">图片1</span>
          <button class="dropdown">...</button>
          <ul>
            <li><button>功能1</button></li>
            <li><button>功能2</button></li>
            <li><button>功能3</button></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
<aside class="nav">
  <ul>
    <li>
      <a href="javascript:void(0);" class="photosName">风景</a>
      <span class="photosCount">2</span>
    </li>
    <li>
      <a href="javascript:void(0);" class="photosName">风景</a>
      <span class="photosCount">3</span>
    </li>
    <li>
      <a href="javascript:void(0);" class="photosName">风景</a>
      <span class="photosCount">4</span>
    </li>
    <li>
      <a href="javascript:void(0);" class="photosName">风景</a>
      <span class="photosCount">5</span>
    </li>
    <li>
      <a href="javascript:void(0);" class="photosName">风景</a>
      <span class="photosCount">6</span>
    </li>
  </ul>
</aside>
<script src="../js/jquery.min.js" type="text/javascript"></script>

</body>
</html>
